/*******************************************/
/* flash transition
/*******************************************/

.vegas-transition-flash,
.vegas-transition-flash2
    opacity: 0
    filter: brightness(25)

.vegas-transition-flash-in,
.vegas-transition-flash2-in
    opacity: 1
    filter: brightness(1)

.vegas-transition-flash2-out
    opacity: 0
    filter: brightness(25)