/*******************************************/
/* negative transition
/*******************************************/

.vegas-transition-negative,
.vegas-transition-negative2
    opacity: 0
    filter: invert(100%)

.vegas-transition-negative-in,
.vegas-transition-negative2-in
    opacity: 1
    filter: invert(0)

.vegas-transition-negative2-out
    opacity: 0
    filter: invert(100%)