/*******************************************/
/* slideUp transition
/*******************************************/

.vegas-transition-slideUp,
.vegas-transition-slideUp2
    transform: translateY(100%)

.vegas-transition-slideUp-in,
.vegas-transition-slideUp2-in
    transform: translateY(0%)

.vegas-transition-slideUp2-out
    transform: translateY(-100%)