/*******************************************/
/* swirlRight transition
/*******************************************/

.vegas-transition-swirlRight,
.vegas-transition-swirlRight2
    transform: scale($vegas-swirl-scale) rotate(-$vegas-swirl-degree)
    opacity: 0

.vegas-transition-swirlRight-in,
.vegas-transition-swirlRight2-in
    transform: scale(1) rotate(0deg)
    opacity: 1

.vegas-transition-swirlRight2-out
    transform: scale($vegas-swirl-scale) rotate($vegas-swirl-degree)
    opacity: 0