.vegas-container {
    overflow: hidden !important;
    position: relative;
}

.vegas-wrapper,
.vegas-overlay,
.vegas-timer,
.vegas-slide {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.vegas-overlay {
    background: transparent url(overlays/02.png) center center repeat;
    opacity: 0.5;
}

.vegas-timer {
    top: auto;
    bottom: 0;
    height: 2px;
}
    .vegas-timer-progress {
        width: 0%;
        height: 100%;
        background: yellowgreen;
        transition-property: width;
        transition-timing-function: ease-out;
    }
        .vegas-timer-running .vegas-timer-progress {
            width: 100%;
        }

.vegas-slide {
    padding: 0;
    background: transparent center center no-repeat;
    transform: translateZ(0);
}

body.vegas-container {
    overflow: auto;
    position: static;
}
    body.vegas-container > .vegas-timer,
    body.vegas-container > .vegas-overlay,
    body.vegas-container > .vegas-slide {
        position: fixed;
        z-index: -1;
    }

.vegas-video {
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
}

/* fade */

.vegas-transition-fade {
    opacity: 0;
}

.vegas-transition-fade-in {
    opacity: 1;
}

.vegas-transition-fade-out {
    opacity: 0;
}

/* slideLeft */

.vegas-transition-slideLeft {
    transform: translateX(100%);
}

.vegas-transition-slideLeft-in {
    transform: translateX(0%); 
}

.vegas-transition-slideLeft-out {
    transform: translateX(-100%);
}

/* slideRight */

.vegas-transition-slideRight {
    transform: translateX(-100%);
}

.vegas-transition-slideRight-in {
    transform: translateX(0%); 
}

.vegas-transition-slideRight-out {
    transform: translateX(100%);
}

/* slideUp */

.vegas-transition-slideUp {
    transform: translateY(100%);
}

.vegas-transition-slideUp-in {
    transform: translateY(0%); 
}

.vegas-transition-slideUp-out {
    transform: translateY(-100%);
}

/* slideDown */

.vegas-transition-slideDown {
    transform: translateY(-100%);
}

.vegas-transition-slideDown-in {
    transform: translateY(0%); 
}

.vegas-transition-slideDown-out {
    transform: translateY(100%);
}

/* zoomIn */

.vegas-transition-zoomIn {
    transform: scale(0);
    opacity: 0;
}

.vegas-transition-zoomIn-in {
    transform: scale(1);
    opacity: 1;
}

.vegas-transition-zoomIn-out {
    transform: scale(2);
    opacity: 0;
}

/* zoomOut */

.vegas-transition-zoomOut {
    transform: scale(2);
    opacity: 0;
}

.vegas-transition-zoomOut-in {
    transform: scale(1);
    opacity: 1;
}

.vegas-transition-zoomOut-out {
    transform: scale(0);
    opacity: 0;
}

/* swirlLeft */

.vegas-transition-swirlLeft {
    transform: scale(2) rotate(35deg);
    opacity: 0;
}

.vegas-transition-swirlLeft-in {
    transform: scale(1) rotate(0deg); 
    opacity: 1;
}

.vegas-transition-swirlLeft-out {
    transform: scale(2) rotate(-35deg);
    opacity: 0;
}

/* swirlRight */

.vegas-transition-swirlRight {
    transform: scale(2) rotate(-35deg);
    opacity: 0;
}

.vegas-transition-swirlRight-in {
    transform: scale(1) rotate(0deg);
    opacity: 1;
}

.vegas-transition-swirlRight-out {
    transform: scale(2) rotate(35deg);
    opacity: 0;
}
